.titles {
  font-size: 3rem;
  color: var(--secondaryMainColor);
  font-weight: 600;
  text-align: center;
}

.boxTotalPrice {
  background-color: var(--secondaryMainColor);
  font-size: 3rem;
  color: var(--secondaryLinghtColor);
  padding: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 5px #515050;
}

.totalPriceText {
  margin-top: 2rem;
  color: var(--primaryDarkColor);
}

.totalQuantityCart {
  font-size: 1.2rem;
  color: var(--primaryLinghtColor);
  text-align: center;
  margin-bottom: 2rem;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 1.5rem 0 1rem 0;
}

.btnFormaEnvio {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

@media (max-width: 600px) {
  .titles {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
    text-align: center;
  }

  .boxTotalPrice {
    font-size: 2.5rem;
  }

  .totalQuantityCart {
    font-size: 1rem;
  }

  .btnFormaEnvio {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .boxTotalPrice {
    font-size: 2rem;
  }

  .titles {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }

  .btnFormaEnvio {
    font-size: 0.6rem;
  }
}
