* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  color: #263238;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5%;
  background-color: #d0a9a2;
  box-shadow: 0px 0px 5px rgb(164, 164, 164) !important;
  position: fixed;
  width: 100%;
  z-index: 100;

}

.navbar .contenedorLogo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: rgb(63, 63, 63);
}

.navbar .contenedorLogo div {
  text-align: center;
}

.navbar .contenedorLogo img {
  width: 40px;
  height: auto;
  border-radius: 150%;
  margin: 0.05rem;
}

.navbar ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 2.5rem;
}

.navbar ul a {
  font-size: 1.5rem;
  color: rgb(63, 63, 63);
}

.navbar .cartWidget {
  color: rgb(63, 63, 63);
}
