* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  color: var(--secondaryLinghtColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5%;
  background-color: var(--secondaryDarkColor);
  box-shadow: 0px 2px 10px #707070 !important;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar .contenedorLogo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--secondaryLinghtColor);
  margin: 0.2rem;
}

.navbar .contenedorLogo div {
  text-align: center;
}

.navbar .contenedorLogo img {
  width: 40px;
  height: auto;
  border-radius: 150%;
  margin: 0.05rem;
}

.navbar ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 2.5rem;
}

.btnLinks {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--secondaryLinghtColor);
}

.btnLinks::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--primaryMaintColor);
  opacity: 80%;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.5s;
}

.btnLinks:hover::after {
  transform: scale(1, 1);
}

.btnLinkActive {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--primaryMaintColor);
}

.navbar .cartWidget {
  color: var(--secondaryLinghtColor);
}

.navbar .cartWidgetActive {
  color: var(--primaryMaintColor);
}

.contenedorCartMenu {
  display: flex;
  align-items: center;
}
