:root {
  --primaryLinghtColor: #546e7a;
  --primaryMaintColor: #37474f;
  --primaryDarkColor: #263238;
  --secondaryLinghtColor: #edebe8;
  --secondaryMainColor: #d0a9a2;
  --secondaryDarkColor: #b18780;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondaryLinghtColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
